appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.0
blis==0.2.4
boto==2.49.0
boto3==1.9.158
botocore==1.12.158
certifi==2019.3.9
chardet==3.0.4
configparser==3.7.4
cycler==0.10.0
cymem==2.0.2
decorator==4.4.0
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
funcy==1.12
future==0.17.1
futures==3.1.1
gensim==3.7.3
idna==2.8
importlib-metadata==0.17
ipaddress==1.0.22
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.1.0
many-stop-words==0.2.2
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.0.0
murmurhash==1.0.2
nbconvert==5.5.0
nbformat==4.4.0
nltk==3.4.1
notebook==5.7.8
numexpr==2.6.9
numpy==1.16.4
oauthlib==3.0.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pathlib2==2.3.3
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
plac==0.9.6
pluggy==0.12.0
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyLDAvis==2.1.2
pymongo==3.8.0
pyparsing==2.4.0
pyrsistent==0.15.2
PySocks==1.7.0
pytest==4.5.0
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
qtconsole==4.5.1
requests==2.22.0
requests-oauthlib==1.2.0
Rx==1.6.1
s3transfer==0.2.0
scandir==1.10.0
scikit-learn==0.21.2
scipy==1.3.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
smart-open==1.8.3
spacy==2.1.4
srsly==0.0.5
subprocess32==3.5.4
terminado==0.8.2
testpath==0.4.2
thinc==7.0.4
tornado==6.0.2
tqdm==4.32.1
traitlets==4.3.2
tweepy==3.7.0
tweet-preprocessor==0.5.0
Unidecode==1.0.23
urllib3==1.25.3
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wordcloud==1.5.0
xlrd==1.2.0
zipp==0.5.1
